@media (min-width: 1200px) {
    .page-header .navigation #global-navigation-header > .navigation__group-items > .navigation__group:nth-child(2) {
        margin-right: 3.5rem;
        margin-left: 3.5rem;
    }
}

#irwWrapper {
    .esg_overview {
            margin-top: -90px;
            
        .summary-section {
            max-width: 1100px;
            margin: auto;
            margin-bottom: 60px;
        }

        @media (min-width: $md) {
            .summary-section .col-xs-12.col-md-6:first-child {
                border-right: 1.5px solid $blue;
            }

            .citizen_house-board_item.col-xs-12.col-sm-6:first-child {
                border-right: 1.5px solid #c4c4c4;
            }
        }

        .message_ceo {
            max-width: 1100px;
            margin: auto;

            .message_ceo-name {
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                color: $blue;
            }

            .message_ceo-portrait {
                margin: auto;
                display: block;
                padding-bottom: 36px;
            }

            .message_ceo-title {
                font-size: 13px;
                line-height: 20px;
                text-align: center;
                max-width: 165px;
                margin: auto;
            }

            .message_ceo-subtitle {
                font-weight: 600;
                font-size: 24px;
                line-height: 26px;
                color: $blue;
            }

            .message_ceo-blurb p {
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: $blue;
            }

            .frameworks_reports-title {
                font-weight: 900;
                font-size: 34px;
                line-height: 50px;
                text-align: center;
                text-transform: uppercase;
                color: $blue;
            }
        }

        .frameworks_reports {
            .frameworks_reports-arrow {
                position: absolute;
                color: $blue;
                font-size: 25px;
            }

            .frameworks_reports-list p {
                margin-left: 20px;
                display: inline-block;
                padding-bottom: 0px;
                font-weight: 900;
                font-size: 20px;
                text-transform: uppercase;
                color: $blue;
            }

            .frameworks_reports-list_item {
                display: block;
                margin-bottom: 60px;
            }

            .frameworks_reports-list_container {
                padding: 25px 0 0 18px;
            }
        }

        .circle_links {
            max-width: 1100px;
            margin: auto;
            padding: 125px 0px 90px;

            .circle_links-title {
                font-weight: 900;
                font-size: 24px;
                line-height: 50px;
                text-align: center;
                text-transform: uppercase;
                padding-top: 20px;
            }

            .circle_links-img {
                padding-right: 25px;
                width: 100%;
            }
        }

        .citizens_house {
            max-width: 760px;
            margin: auto;
            padding-top: 105px;

            .citizens_house-pg_logo {
                margin: auto;
                display: block;
            }

            .citizens_house-title {
                max-width: 700px;
                font-weight: 900;
                font-size: 34px;
                line-height: 50px;
                text-align: center;
                text-transform: uppercase;
                margin: auto;
            }

            .citizens_house-subtitle {
                font-weight: 600;
                font-size: 24px;
                line-height: 26px;
                text-align: center;
                color: $blue;
            }

            .citizens_house-board_title {
                font-weight: 600;
                font-size: 24px;
                line-height: 26px;
                text-align: center;
                padding-top: 45px;
                color: $blue;
            }

            .citizen_house-board_name {
                font-weight: 600;
                font-size: 18px;
                line-height: 18px;
                color: $blue;
                text-transform: uppercase;
                text-align: center;
                padding-top: 20px;
                margin-bottom: 0px;
            }

            .citizen_house-board_title {
                font-size: 16px;
                line-height: 26px;
                text-align: center;
            }
        }

        &::after {
            content: "";
            width: 100vw;
            height: 100vh;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background: $blue--light;
            z-index: 0;
        }
    }

    .citizen_house-house {
        margin: auto;
        display: block;
        max-width: 95%;
    }

    .light_blue_background {
        background-color: $blue--light;
    }

    .module-compliance-monitoring {
        .btn-default {
            margin-top: 25px;
        }

        .compliance-monitoring {
            max-width: 870px;
            padding: 0px 15px 85px 15px;
            text-align: center;
            margin: auto;
        }

        .grievance-tracker {
            padding: 85px 0px;
            max-width: 780px;
            text-align: center;
            margin: auto;

            .esg-module-title {
                padding-bottom: 30px;
            }

            p {
                padding-bottom: 30px;
            }
            .grievance-tracker_button {
                margin-top: 25px;
            }
        }

        .what_how_where {
            text-align: left;
            padding: 85px 0px;
            margin: auto;
            max-width: 1100px;

            .esg-module-title {
                text-align: left;
            }

            p {
                margin-bottom: 40px;
            }

            h4 {
                padding-bottom: 20px;
            }
        }

        .report-grievance {
            max-width: 762px;
            padding: 80px 0px;
            text-align: center;
            margin: auto;
        }

        .report-grievance_button {
            margin-top: 25px;
            margin: auto;

            h2 {
                max-width: 918px;
            }

            h4 {
                padding-bottom: 20px;
            }
        }

        .implementation-satellite {
            padding: 90px 15px;
            margin: auto;
            max-width: 1100px;

            h2 {
                padding-bottom: 25px;
                text-align: left;
                max-width: 918px;
            }
        }

        .reporting-portal {
            padding: 65px 15px;
            text-align: center;
            max-width: 920px;
            margin: auto;

            h2 {
                padding-bottom: 25px;
            }

            .custom-ul {
                text-align: left;
            }

            &::after {
                content: "";
                width: 100vw;
                height: 100vh;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background: $grey;
                z-index: -1;
            }

            h5 {
                margin-top: 65px;
                text-align: left;
            }
        }

        .learn-more-link {
            margin-left: 32px;
            text-align: left;
        }
    }

    .module-partnership-force {
        .partnership-force_intro {
            text-align: center;
            padding-bottom: 0px 15px 40px;
            margin: auto;

            h2 {
                margin-bottom: 30px;
            }

            h3,
            p {
                max-width: 788px;
                margin: auto;
            }

            h3 {
                padding-bottom: 17px;
            }
        }

        .partnership-force_list {
            padding: 45px 15px 80px;
            max-width: 1100px;

            a {
                font-weight: 600;
            }
        }

        .enabling-smallholder {
            max-width: 1100px;
            padding: 95px 15px 65px;

            h2 {
                max-width: 789px;
                text-align: left;
            }

            a {
                font-weight: 600;
            }

            @media (min-width: $md) {
                img {
                    margin-top: -35px;
                }
            }
        }

        .program-goals {
            max-width: 1100px;
            padding-bottom: 45px;

            .custom-ul {
                li {
                    padding-bottom: 15px;
                }
            }
        }

        .progress-in-partnership {
            padding-bottom: 100px;
            max-width: 1100px;

            h6 {
                max-width: 764px;
            }

            h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 26px;
            }

            .less-bottom-padding {
                padding-bottom: 10px;
            }

            .custom-ul {
                li {
                    padding-bottom: 15px;
                }
            }
        }

        .wwf-malaysia {
            padding: 90px 15px 80px;
            margin: auto;
            max-width: 1100px;

            a {
                font-weight: 600;
            }

            h2 {
                max-width: 984px;
                margin: auto;
                margin-bottom: 28px;
            }

            @media (min-width: $md) {
                .row {
                    display: flex;
                    height: 100%;
                }

                .col-xs-12.col-lg-6 {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }

            p {
                margin-bottom: 20px;
            }

            h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 26px;
            }
        }

        .engaging-partnering {
            max-width: 984px;
            padding-top: 100px;

            h2 {
            }
        }

        .engaging-partnering-includes {
            max-width: 1100px;

            .custom-ul {
                max-width: 425px;

                li {
                    padding-bottom: 15px;
                }
            }

            .title--arrow {
                padding-bottom: 17px;
            }

            .btn-default {
                margin-top: 100px;
            }

            &::after {
                content: "";
                width: 100vw;
                height: 100vh;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background: $grey;
                z-index: 0;
            }
        }

        .learn-more-link {
            margin-left: 32px;
            text-align: left;
            margin-bottom: 35px;
            &.learn-more-link--no-padding {
                margin-left: 0px;
            }
        }
    }
}

.PageESGESGOverview #irwWrapper {
    padding: 0px;
}
