#irwWrapper .module-environmental_message {
    .module-title {
        margin-bottom: 20px;
    }
    .person-info {
        text-align: center;
        
        img {
            max-width: 100%;
        };

        h4 {
            color: $blue;
            font-weight: 600;
            font-size: 24px;
            line-height: 26px;
            margin-top: 28px;
        }
    }
    .virginie-message {
        padding: 50px 0 0 50px;
    }
}

#irwWrapper .module-partnerships {
    .title--arrow {
        margin: 2em 0 1em;
    }
    .btn {
        margin-top: 4rem;
    }
    @media (min-width: $lg) {
        .col-md-6 {
            padding: 0 5rem;
        }
    }
}

#irwWrapper .module-forestry_overview {
    .container {
        max-width: 1200px;
    }
    .perspective-row {
        > div[class*="col"] {
            margin-top: -1.5rem;
        }
        h4 {
            margin: 2em 0 1.25em;
        }

        img {
            max-width: 100%;
        }

        @media (min-width: $lg) {

        }

        @media (max-width: $lg) {
            > div[class*="col"] {
                margin-top: 0;
            }

            .image-container {
                text-align: center;
                margin-top: 1.5rem;
            }
        }
    }

    .box--blue {
        background-color: $blue--light;
        padding: 2rem 3rem;
        margin: 3rem 0;

        h4 {
            margin-bottom: 1.5em;
        }

        .custom-ul {
            display: flex;
            flex-wrap: wrap;

            > li {
                max-width: calc(50% - 1.5em);
                width: 100%;
                margin-left: 1.5em;
                margin-bottom: 2em;
                padding-left: 1.5em;

                &.has-image {
                    padding-right: 215px;

                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

                &:last-child {
                    max-width: 365px;
                }
            }
        }
        
        @media (max-width: $lg) {
            .custom-ul > li {
                max-width: 100% !important;
            }
        }
        @media (max-width: $md) {
            .custom-ul > li.has-image {
                padding-right: 0;

                img {
                    position: static;
                    display: block;
                    margin-top: 0.5em;
                }
            }
        }
        @media (max-width: $sm) {
            padding: 2rem;
        }
    }

    .efforts-row {
        margin-bottom: 3rem;

        .text-center {
            max-width: 1000px;
            margin: 0 auto;
        }
    }
}

#irwWrapper .module-paper_packaging {
    &_overview {
        h4 {
            margin-bottom: 1.5em;
        }
        .text-center p {
            max-width: 800px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &_efforts {
        margin-top: 6rem;
        margin-bottom: 3rem;
        h4 {
            margin-bottom: 1em;
        }

        .btn {
            margin-top: 2em;
        }

        .image-container {
            text-align: center;
            margin-top: 8rem;
        }

        @media screen and (max-width: $lg) {
            .image-container {
                margin-top: 3rem;
            }
        }
    }
    &_goals {
        padding-top: 4rem;
        padding-top: 6rem;
        .esg-module-title {
            margin-bottom: 1.5em;
        }
        .custom-ul {
            display: flex;
            justify-content: space-between;

            > li {
                max-width: 49%;
            }
        }

        @media (max-width: $lg) {
            .custom-ul {
                flex-direction: column;

                li {
                    max-width: 100%;
                    margin-bottom: 1em;
                }
            }
        }
    }

    &_data {
        margin-top: 4rem;
        .text-center > h4 {
            max-width: 100%;
            margin-bottom: 1.5em;
        }

        .tbl-wrapper > .tbl > tbody > tr > th,
        .tbl-wrapper > .tbl > tbody > tr > td {
            padding: 12px 8px;
        }

        .tbl-wrapper > .tbl > thead > tr > th:not(:first-child),
        .tbl-wrapper > .tbl > tbody > tr > td:not(:first-child) {
            text-align: center;
        }

        .tbl-wrapper > .tbl > thead > tr > th {
            color: $green;
            background: transparent;
            border: none;
            border-bottom: 2px solid $grey--mid;
        }

        .tbl-wrapper > .tbl > tbody > tr > td {
            color: $blue;
            border-top: none;
            border-bottom: 1px solid $grey--mid;

            &:first-child {
                color: $green;
                // font-size: 0.8em;
            }

            &:nth-child(2) {
                font-weight: 700;
            }
        }

        .btn {
            margin-top: 4rem;
        }
    }
}

#irwWrapper .module-data_metrics {
    &_charts {
        margin-bottom: 2rem;
        img {
            max-width: 100%;
        }
        @media (min-width: $lg) {
            .chart--1 {
                text-align: right;
            }

            
        }

        @media (max-width: $lg) {
            .chart--1,
            .chart--2 {
                text-align: center;   
            }
        }
        // #chart1 {
        //     .highcharts-series-group rect {
        //         fill: rgb(36, 109, 56) !important;
        //         &:nth-child(2) {
        //             fill: rgb(74, 140, 88) !important;
        //         } 
        //         &:nth-child(3) {
        //             fill: rgb(142, 184, 102) !important;
        //         } 
        //     }
        //     .highcharts-label {
        //         color: rgb(36, 109, 56) !important;
        //     }
        //     .highcharts-yaxis-grid > path:not(:last-child) {
        //         stroke: transparent !important;
        //     }
        // }

        // .highcharts-credits {
        //     display: none !important;
        // }
    }
    &_table {
        .tbl-wrapper > .tbl {
            > tbody > tr > th,
            > tbody > tr > td {
                padding: 12px 8px;
            }
    
            > thead > tr > th:not(:first-child),
            > tbody > tr > td:not(:first-child) {
                text-align: center;
            }
    
            > thead > tr > th {
                color: $green;
                background: transparent;
                border: none;
                border-bottom: 2px solid $grey--mid;
                vertical-align: top;
            }
    
            > thead > tr:first-child > th {
                position: relative;
                border-bottom: none;
                font-size: 0.8em;
    
                &:not(:first-child)::after {
                    content: "";
                    width: 90%;
                    height: 2px;
                    background-color: $green;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                }
                &:last-child::after {
                    width: 100%;
                }
            }
    
            > thead > tr:last-child > th:nth-child(n+5) {
                font-size: 0.8em;
                vertical-align: middle;
            }
    
            > tbody > tr > td {
                color: $blue;
                border-top: none;
                border-bottom: 1px solid $grey--mid;
                font-weight: 700;
                &:first-child {
                    color: $green;
                    font-size: 0.8em;
                    font-weight: 400;
                }
                &:nth-child(n+3):nth-child(-n+4) {
                    font-weight: 400;
                }
            }
    
            .footable-detail-row {
    
                > td::before {
                    content: "2020 Global Business Unit Detail (absolute units x 1,000)";
                    font-weight: 700;
                    margin-left: 8px;
                    margin-bottom: 1em;
                    display: block;
                }
            }
            
        }
    
        @media (max-width: $lg) {
            .tbl-wrapper > .tbl  {
                > thead > tr:first-child > th {
                    &:not(:first-child)::after {
                        width: 100%;
                    }
                    &:last-child {
                        display: none !important;
                    }
                }
                
            }
        }
    }
    
    .btn {
        margin-top: 4rem;
    }
}

#irwWrapper .module-climate {
    &_intro {
        margin-bottom: 4rem;
        h4 {
            margin-bottom: 1em;
        }
        .btn {
            margin: 0.5em;
            display: inline-block;
        }
    }
    &_scope_1_2 {
        padding-top: 4rem;
        padding-bottom: 4rem;
        h4 {
            margin-bottom: 1em;
        }
        .tbl-wrapper > .tbl {
            > tbody > tr > th,
            > tbody > tr > td {
                padding: 12px 8px;
            }
    
            > thead > tr > th:not(:first-child),
            > tbody > tr > td:not(:first-child) {
                text-align: center;
            }
    
            > thead > tr > th {
                color: $green;
                background: transparent;
                border: none;
                border-bottom: 2px solid $grey--mid;
                vertical-align: top;
            }
    
            > thead > tr:first-child > th {
                position: relative;
                border-bottom: none;
                font-size: 0.8em;
    
                &:not(:first-child)::after {
                    content: "";
                    width: 90%;
                    height: 2px;
                    background-color: $green;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                }
                &:last-child::after {
                    width: 100%;
                }
            }
    
            > thead > tr:last-child > th:nth-child(n+5) {
                font-size: 0.8em;
                vertical-align: middle;
            }
    
            > tbody > tr > td {
                color: $blue;
                border-top: none;
                border-bottom: 1px solid $grey--mid;
                font-weight: 700;
                &:first-child {
                    color: $green;
                    font-size: 0.8em;
                    font-weight: 400;
                }
                &:nth-child(n+3):nth-child(-n+4) {
                    font-weight: 400;
                }
            }
    
            .footable-detail-row {
    
                > td::before {
                    content: "2020 Global Business Unit Detail (absolute units x 1,000)";
                    font-weight: 700;
                    margin-left: 8px;
                    margin-bottom: 1em;
                    display: block;
                }
            }

            > tfoot > tr > td {
                padding-top: 1.5rem;
                font-size: 13px;
            }
            
        }
    
        @media (max-width: $lg) {
            .tbl-wrapper > .tbl  {
                > thead > tr:first-child > th {
                    &:not(:first-child)::after {
                        width: 100%;
                    }
                    &:last-child {
                        display: none !important;
                    }
                }
                
            }
        }
    }
    &_scope_3 {
        padding-top: 4rem;
        padding-bottom: 4rem;
        .esg-module-title {
            text-align: left;
        }
        .tbl-wrapper > .tbl {
            margin: 3rem 0 3rem 3rem;
            > tbody > tr > th,
            > tbody > tr > td {
                padding: 12px 8px;
            }
    
            > thead > tr > th:not(:first-child),
            > tbody > tr > td:not(:first-child) {
                text-align: right;
            }
    
            > thead > tr > th {
                color: $green;
                background: transparent;
                border: none;
                border-bottom: 2px solid $grey--mid;
                vertical-align: top;
                font-size: 24px;
                line-height: 26px;
            }
    

            > tbody > tr > td {
                color: $blue;
                border-top: none;
                border-bottom: 1px solid $grey--mid;
                font-weight: 700;
                &:first-child {
                    color: $green;
                    font-size: 0.8em;
                    font-weight: 400;
                }
            }
    
            > tfoot > tr > td {
                padding-top: 1.5rem;
                font-size: 13px;
            }
            
        }

        @media (max-width: $lg) {
            .tbl-wrapper > .tbl {
                margin-left: 0;
            }
        }
    }
    &_goals {
        padding-top: 4rem;
        position: relative;
        // bring grey bg to behind footer
        &::after {
            content: "";
            width: 100vw;
            height: 100vh;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            background: $grey;
            z-index: 0;
        }
    }
}

#irwWrapper .module-palm {
    img {
        max-width: 100%;
    }

    &_intro {
        padding-bottom: 6rem;
        h4 {
            margin-bottom: 1.25em;
        }
    }

    &_use {
        padding-bottom: 6rem;

        .image-container {
            text-align: center;
        }

        .esg-module-title {
            text-align: left;
            margin-bottom: 0.5em;
        }

        strong {
            font-weight: 600;
        }

        @media (min-width: $lg) {
            .esg-module-title + p {

                margin-right: 8rem;
                margin-bottom: 2em;
            }
            .image-container {
                text-align: left;
            }
        }
    }

    &_ingredients {
        padding-top: 4rem;
        padding-bottom: 4rem;

        .esg-module-title {
            max-width: 700px;
            margin: 0 auto 1em;
        }

        img {
            width: 100%;
        }

        .custom-ul {
            max-width: 400px;
        }
    }

    &_sales {
        padding-top: 4rem;
        padding-bottom: 4rem;
        h4 {
            margin-top: 0;
        }
    }

    &_approach {
        padding-top: 4rem;
        padding-bottom: 4rem;

        .esg-module-title {
            max-width: 1000px;
            margin: 0 auto 1em;

            &::after {
                display: none;
            }
        }

        .section-link {
            max-width: 245px;

            & + .section-link {
                margin-left: 1.5rem !important;
            }

            .custom-ul {
                font-size: 0.85rem;
                margin-top: 2rem;
            }
        }
    }

    &_milestones {
        padding-top: 4rem;
        position: relative;
        // bring light blue bg to behind footer
        &::after {
            content: "";
            width: 100vw;
            height: 100vh;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            background: $blue--light;
            z-index: 0;
        }

        .text-center {
            max-width: 1000px;
            margin: 2em auto;
        }

        .custom-ul a {
            font-weight: 600;
            font-size: 0.85em;
            display: block;
            margin-top: 1em;
        }

        .btn-default {
            margin: 2em 0 1.5em;
        }
    }
}

#irwWrapper .module-responsible_sourcing {
    img {
        max-width: 100%;
    }
    .btn {
        margin-top: 2em;
    }
    &_intro {
        padding-bottom: 6rem;
        .esg-module-title.align-left {
            text-align: left;
        }
        h4 {
            margin-bottom: 2em;
        }
        
    }

    &_commitment {
        padding-top: 4rem;
        padding-bottom: 4rem;

        .esg-module-title,
        .text-center {
            max-width: 800px;
            margin-right: auto;
            margin-left: auto;
        }

        .custom-ul {
            text-align: left;
            max-width: 600px;
            margin: 1.5em auto 2em;
        }

        .learn-more p {
            max-width: 325px;
            @media screen and (max-width: $md) {
                max-width: 100%;
            }
        }

    }

    &_goals {
        padding-top: 4rem;
        padding-bottom: 4rem;

        .esg-module-title,
        h4 {
            max-width: 550px;
        }
        .esg-module-title {
            text-align: left;
        }

        .small-text {
            font-size: 0.9em;
        }

        .row + .row {
            margin-top: 3rem;
        }
    }

    &_transparency {
        padding-top: 4rem;
        padding-bottom: 4rem;
        position: relative;

        &::after {
            content: "";
            width: 100vw;
            height: 100vh;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            background: $blue--light;
            z-index: 0;
        }

        h5:not(:first-child) {
            margin-top: 1.5em;
        }
    }
}