.mg50 {
    margin: 50px 0 0 0;
}

.mgb50 {
    margin-bottom: 50px !important;
}

.module-water {
    p.text-blue {
        color: $blue;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        margin: 20px 0;
    }
}

.module-navbar {
    display: flex;
    justify-content:space-between;
     &__link{
         position: relative;
        span {
            color: $white;
            position: absolute;
            font-family: 'Montserrat';
            font-weight: 900;
            font-size: 24px;
            line-height: 30px; 
            bottom: 38px;
            left: 20px;
            padding: 0 10px;
        }
     }

     @media (max-width: $lg) {
        flex-direction: column;
        align-items: center;

        .module-navbar__link + .module-navbar__link {
            margin-top: 1rem;
            margin-left: 0;
        }
     }
}

#irwWrapper .module-overview {
    background: #E1F4F8;
    position: relative;

    img {
        max-width: 100%;
    }

    &::after {
        content: "";
        width: 100vw;
        height: 100vh;
        background: #E1F4F8;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
    }


    &__water-reduction,
    &__water-reduction-home,
    &__water-conserving-basins,
    &__providing-clean-water {
        background: $white;
        padding: 25px 0 !important;
        margin: 50px auto !important;
        box-shadow:  0px 2px 10px rgba(0, 0, 0, 0.171957);
    }

    h4.title-blue {
        margin: 0 auto;
        max-width: 900px;
        &--narrow {
            max-width: 900px;
            p {
                margin: 40px 0;
            }
        }
    }

    p.progress-text {
        max-width: 875px;
        margin: 0 auto;
    }
    
    .container {
        margin: 0 auto;
        &--tight {
            max-width: 781px;
        }
        &--small {
            padding: 0 5%; 
        }
    }

    .back-to-top {
        margin-top: 40px;
    }

    .blue-box {
        background: $blue !important;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.171957);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0;
        
        .btn-square {
            color: $white !important;
            padding: 1.5rem;
            display: block;
            // padding: 37px 67px;
            font-size: 18px;
            line-height: 18px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
        }
    }


    p.water-home-text {
        margin: 42px 0 61px 0 !important;
    }

    .product-innovation h2.esg-module-title.text-left,
    .collaboration h2.esg-module-title.text-left,
    .consumer-education h2.esg-module-title.text-left,
    .collaboration h2.esg-module-title.text-left {
        text-align: left !important;
        max-width: 451px;
    }

    .product-innovation .accordion {
        padding-left: 25px;
    }

    p.text-small {
        font-size: 13px;
        line-height: 18px;    
    }

    // .basin-tbl {
    //     color: $green !important;
    //     &__row {
    //         display: flex;
    //         justify-content: space-evenly;
    //     }
    //     &__head {
    //         font-weight: 600;
    //         font-size: 16px;
    //         line-height: 26px;
    //     }
    //     &__value {
    //         font-size: 14px;
    //         line-height: 17px;
    //         &--blue {
    //             font-weight: bold;
    //             color: $blue;
    //         }
    //     }
    // }

    .tbl-wrapper > .tbl {
        > tbody > tr > th,
        > tbody > tr > td {
            padding: 12px 8px;
        }


        > thead > tr > th {
            color: $green;
            background: transparent;
            border: none;
            border-bottom: 2px solid $grey--mid;
            vertical-align: top;
            // font-size: 24px;
            line-height: 26px;
        }


        > tbody > tr > td {
            color: $green;
            border-top: none;
            border-bottom: 1px solid $grey--mid;
            // font-weight: 700;
            &:nth-child(2) {
                color: $blue;
                // font-size: 0.8em;
                font-weight: 700;
            }
        }

        > tfoot > tr > td {
            padding-top: 1.5rem;
            font-size: 13px;
        }
        
    }

    .accordion {
        &__panel {
            background: #FFFFFF;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.171957);
            margin-bottom: 15px;
            cursor: pointer;
        }
        &__panel-heading {
            padding: 33px 0 33px 26px;
            color: $blue;
            text-transform: uppercase;
            font-weight: 600;
            > span {
                color: $blue;
                float: right;
                padding-right: 25px;
            }
        }
        &__panel-content {
            display: none;
            p {
                padding: 0 25px 15px 25px
            }
        }
    }
    @media (max-width: $lg) {
        padding-right: 20px;
        padding-left: 20px;

        &__water-reduction,
        &__water-reduction-home,
        &__water-conserving-basins,
        &__providing-clean-water {
            padding-right: 20px !important;
            padding-left: 20px !important;
        }
    }
}