.pd50 {
    margin: 50px 0;
}

.module-water {
    p.text-blue {
        color: $blue;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        margin: 20px 0;
    }
}

.module-navbar {
    display: flex;
    justify-content:space-between;
     &__link{
         position: relative;
        span {
            color: $white;
            position: absolute;
            font-family: 'Montserrat';
            font-weight: 900;
            font-size: 24px;
            line-height: 30px; 
            bottom: 38px;
            left: 20px;
            padding: 0 10px;
        }
     }
}

.module-overview {
    background: #E1F4F8;

    &__water-reduction,
    &__water-reduction-home {
        background: $white;
        padding: 25px 0;
    }

    &__water-reduction-home {
        margin-top: 50px;
    }

    h4.title-blue {
        margin: 0 auto;
        max-width: 900px;
        &--narrow {
            max-width: 900px;
        }
    }

    p.progress-text {
        max-width: 875px;
        margin: 0 auto;
    }
    
    .container {
        margin: 0 auto;
        &--tight {
            max-width: 781px;
        }
        &--small {
            padding: 0 5%; 
        }
    }

    .back-to-top {
        margin-top: 40px;
    }

}