// colors
$blue: #003da6;
$green: #246d38;
$white: #FFFFFF;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//headers
#irwWrapper .module-title {
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: $blue;
}

#irwWrapper .module-title::after {
    content: ".";
    color: #ffdb00;
}
