.esg_nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.esg_nav-item {
    height: 171px;
    width: 171px;
    background-color: #012169;
    margin: 0px 20px;
    border-radius: 100px;
    color: white;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    display: table;
}

.ParentSection_social .esg_nav-item {
    background-color: #3b0c3a;
}

.esg_nav-item.esg_nav-item--active {
    background-color: #003da6;
}

.esg_nav-link {
    vertical-align: middle;
    display: table-cell;
}
